OPENAI_API_KEY=your_openai_api_key_here
BLIP_MODEL_DIR=C:\\Users\\samee\\OneDrive\\Desktop\\caption_ds\\project_flickr30k\\outputs\\blip-flickr30k
PORT=3000
MAX_BODY_SIZE=15000000
PYTHON_READY_TIMEOUT=20000
